/*****************************
Defaults
*****************************/

/* Fonts
----------------------------*/

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: rgb(44, 45, 51); /*Dark Night Blue*/
}

h1 {
  font-size: 40px;
  line-height: 60px;
  margin: 0 0 0 0;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin: 0 0 0 0;
  font-weight: 400;
}

h3 {
  color: rgb(44, 45, 51); /*Dark Night Blue*/
  font-size: 14px;
  line-height: 28px;
  margin: 0 0 0 0;
  letter-spacing: 2px;
  font-weight: 700;
}

p {
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(85,0,189); /*Royal Hue*/
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
}

.nav-item a:link,
.nav-item a:visited,
.nav-item a:hover,
.nav-item a:active {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: none;
  color: rgb(44, 45, 51); /*Dark Night Blue*/
}

a.is-inverted:link,
a.is-inverted:visited,
a.is-inverted:hover,
a.is-inverted:active {
  color: papayawhip;
}

.u-highlight {
  background: papayawhip;
  color: rgb(44, 45, 51); /*Dark Night Blue*/
  padding: 0 4px;
}

.u-underline {
  text-decoration: underline; 
}

.u-italic {
  font-style: italic;
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 374px) {
  h3, body {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 40px;
    line-height: 60px;
  }

  h2 {
    font-size: 22px;
    line-height: 32px;
  }
}

/* Images 
----------------------------------*/

figure {
  margin: 0;
  position: relative;
  height: 0;
  width: 100%;
}

/* 3:4 aspect ratio */
figure[data-ratio="4:3"] {
  padding-top: 133.33%;
}

figure[data-ratio="gritcube"] {
  padding-top: 111.74%;
}

figure[data-ratio="simpool"] {
  padding-top: 111.74%;
}

figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*****************************
Header
*****************************/

header {
  background-image: url("../images/sunset.png");
  background-size: cover;
}

header.is-inverted {
  color: rgb(44, 45, 51); /*Dark Night Blue*/
  background: white; 
}

.headerContent-container {
  max-width: 1040px;
  padding: 0 16px;
  margin: auto;
}

nav {
  display: flex;
  padding-top: 40px
}

nav .nav-item:not(:first-child) {
  margin-left: 16px;
}

nav .nav-item:last-child {
  margin-left: auto;
}

.nav-item {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.nav-item.is-cta {
  padding: 0 16px;
  border: 1px solid rgba(44, 45, 51, 0.7); /*Dark Night Blue*/
  border-radius: 16px;
}

.nav-item.is-cta.is-inverted {
  border: 1px solid papayawhip;
}

.contact-name {
  font-weight: 400;
}

/*****************************
Footer
*****************************/

footer {
  color: papayawhip;
  background: rgb(44, 45, 51); /*Dark Night Blue*/
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

footer.is-inverted {
  color: rgb(44, 45, 51); /*Dark Night Blue*/
  background: white; 
}

.footerContent-container {
  max-width: 1040px;
  margin: auto;
  padding: 40px 16px;
  display: flex;
  justify-content: space-between;
}

.footer-section .footer-item:not(:first-child) {
  margin-top: 16px;
}

.footer-section.is-contact {
  margin-left: auto;
}

.footer-section.is-follow {
  margin-left: 200px;
}

.footer-item.is-header {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2px;
}

.footer-item.is-description {
  max-width: 320px;
  font-size: 18px;
  line-height: 28px;
}


.footer-icon {
  margin-right: 8px;
}

/*****************************
Work
*****************************/

.workHeader {
  box-shadow: 0 8px 40px rgba(131,143,160,1), 
              0 0px 16px rgba(131,143,160,0.5);
}

.workTitle-container {
  max-width: 360px;
  margin-top: 160px;
  padding-bottom: 200px;
  color: rgb(44, 45, 51); /*Dark Night Blue*/
}

.work-title {
  padding: 24px 24px 0px 24px;
  background: papayawhip;
}

.work-description {
  padding: 0px 24px 24px 24px;
  background: papayawhip;
  font-weight: 300;
}

/*****************************
Projects
*****************************/

.projectsTitle-container {
  z-index: -200;
  padding: 120px 16px 40px 16px;
  text-align: center;
}

.projects-title {
  position: relative;
  font-weight: 700;
  letter-spacing: 4px;
}

.title-highlightContainer {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-highlight {
  height: 8px;
  width: 520px;
  background: papayawhip;
}

.caseStudies-container {
  padding: 40px 0px 120px 0px;
}

.caseStudies-container .caseStudy-container:not(:first-child) {
  margin-top: 120px;
}

.caseStudy-container {
  background: linear-gradient(to left, rgba(44, 45, 51, 0.05),white); /*Dark Night Blue*/
  max-width: 1040px;
  padding: 16px 40px;
  margin: auto;
}

.caseStudy-content {
  display: flex;
  align-items: center;
}

.caseStudy-overview {
  width: 100%;
  max-width: 320px;
}

.overview-section {
  margin-top: 40px;
}

.caseStudy-cta {
  margin-top: 40px;
  text-align: center;
}

.caseStudy-imageContainer {
  width: 100%;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .projects-title {
    margin-left: 0px;
  }

  .caseStudy-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .caseStudy-overview {
    max-width: 520px;
  }
}

/*****************************
About
*****************************/

.about-background {
  background: rgba(44, 45, 51, 0.05); /*Dark Night Blue*/
  padding-bottom: 120px;
  margin: 40px 0;
  box-shadow: 8px 8px 40px rgba(131,143,160,0.2), 
              -8px 8px 40px rgba(131,143,160,0.2);
}

.about-container {
  max-width: 800px;
  padding: 0 16px;
  margin: auto;
}

.about-title {
  padding-top: 120px;
}

.about-content {
  margin-top: 40px;
  display: flex;
}

.about-imageContainer {
  margin-right: 40px;
  width: 100%;
  max-width: 320px;
}

.about-figure {
  position: sticky;
  top: 120px;
}

.about-image {
  width: 100%;
  max-width: 320px;
}

.about-descriptions {
  max-width: 520px;
}

.description-sectionSpacing {
  margin-top: 40px;
}

@media screen and (max-width: 1023px) {
  .about-background {
    margin: 16px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .about-background {
    padding-bottom: 40px;
  }
  .about-container {
    max-width: 520px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-descriptions {
    max-width: 520px;
  }
}
