/* 
 * Type 
 * */

.t-align-center {
  text-align: center;
}

.t-h1 {
  color: rgba(20,5,0,1);
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.t-h2 {
  color: rgba(20,5,0,1);
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.t-h3 {
  color: rgba(20,5,0,0.6);
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.3rem;
}

.t-p {
  color: rgba(20,5,0,1);
  font-family: Crimson Text, serif;
  font-size: 1.6rem;
}

.t-sub-p {
  color: rgba(20,5,0,1);
  font-family: Lato, sans-serif;
  font-size: 1rem;
}

a.is-inline {
  color: rgba(20,5,0,1);
}

a.is-primary {
  color: rgba(212,57,0,100);
}

a.is-secondary {
  color: rgba(20,5,0,0.6);
}

.t-link-standalone-wrapper {
  margin-top: 2.8rem;
  color: rgba(20,5,0,1);
  font-family: Lato, serif;
  font-size: 1.3rem;
}

.t-link-standalone-wrapper.is-align-right {
  text-align: right;
}

.t-quote-large {
  color: rgba(20,5,0,0.6);
  font-family: Lato, sans-serif;
  font-style: italic;
  font-size: 1.6rem;
  margin: 2.6rem;
}

/* 
 * Utility 
 * */

.u-maxWidth-80ch {
  max-width: 80ch;
}

.u-maxWidth-1280px {
  max-width: 1280px;
}

.u-margin-auto {
  margin: auto;
}

.u-marginTop-8px {
  margin-top: 8px;
}

.u-marginRight-8px {
  margin-right: 8px;
}

.u-marginBottom-2rem {
  margin-bottom: 2rem;
}

.u-marginBottom-9rem {
  margin-bottom: 9rem;
}

.u-paddingTop-4rem {
  padding-Top: 4rem;
}

.u-paddingTop-9rem {
  padding-Top: 9rem;
}

.u-paddingRight-16px {
  padding-right: 16px;
}

.u-paddingLeft-16px {
  padding-left: 16px;
}

.u-flex {
  display: flex;
}

.u-flex.is-alignItems-center {
  align-items: center;
}

.u-flex.is-justifyContent-spaceEvenly {
  justify-content: space-evenly;
}

.u-flex.is-wrap {
  flex-wrap: wrap;
}
