/*****************************
Fonts
*****************************/

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgb(44, 45, 51); /*Dark Night*/
}

h1, h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px 0;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 8px 0;
  font-weight: 700;
}

p {
  margin: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(44, 45, 51); /*Dark Night*/
  text-decoration: underline;
}

a.is-cta {
  color: rgb(56, 97, 154); /* Evening Sky Blue */
  text-decoration: none;
  display: inline-block;
  margin-top: 24px;
}

.cta-text {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 768px) {
  h1, h2 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px 0;
    font-weight: 900;
  }
}

/*****************************
Images 
*****************************/

figure {
  margin: 0;
  position: relative;
  height: 0;
  width: 100%;
}

/* 3:4 aspect ratio */
figure[data-ratio="3:4"] {
  padding-top: 133.33%;
}

figure[data-ratio="16:9"] {
  padding-top: 56.25%;
}

figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*****************************
Text group
*****************************/

.textGroup {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  column-gap: 24px;
}

.textGroup * {
  grid-column: 1 / span 4;
}

.textGroup p:not(:nth-child(2)) {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .textGroup.with-largeHeader {
    grid-column-end: span 6;
    grid-template-columns: repeat(6, 1fr);
  }

  .textGroup h1, .textGroup h2 {
    grid-column: 1 / -1;
  }
}

/*****************************
Header
*****************************/

nav {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.nav-rightMenu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-rightMenu .nav-item:not(:first-child) {
  margin-left: 8px;
}

.nav-item.is-logo {
  padding: 0;
  font-weight: 900;
}

.nav-item a {
  font-weight: 400;
  color: rgb(44, 45, 51); /*Dark Night*/
}

@media (min-width: 768px) {
  nav {
    padding-right: 48px;
    padding-left: 48px;
  }

  .nav-rightMenu .nav-item:not(:first-child) {
    margin-left: 24px;
  }
}

@media (min-width: 1080px) {
  nav {
    padding-right: 72px;
    padding-left: 72px;
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  nav {
    padding-right: 120px;
    padding-left: 120px;
    max-width: 1280px;
  }
}

/*****************************
About
*****************************/

.about-section {
  padding-right: 16px;
  padding-left: 16px;
  margin: 192px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main .about-section:last-child {
  margin-bottom: 0;
}

.about-section::before {
  content: '';
  height: 16px;
  max-width: 72px;
  margin-bottom: 8px;
  background: papayawhip;
  grid-column: 1 / 2;
  display: block;
}

.about-section .textGroup {
  max-width: 408px;
}

@media (min-width: 768px) {
  .about-section {
    padding-right: 48px;
    padding-left: 48px;
    max-width: 1024px;
    grid-template-columns: repeat(8, 1fr);
  }

  .about-section .textGroup {
    max-width: 480px;
  }

}

@media (min-width: 1080px) {
  .about-section {
    padding-right: 72px;
    padding-left: 72px;
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1280px) {
  .about-section {
    padding-right: 120px;
    padding-left: 120px;
    max-width: 1280px;
  }
}

/*****************************
Projects
*****************************/

main .project-section:not(:first-child) {
  margin-top: 48px;
}

.project-section {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.project-count {
  padding-left: 16px;
}

.project-background {
  background: rgba(44, 45, 51, 0.05); /*Dark Night*/
}

.project-contentContainer {
  padding: 24px 16px 0 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  column-gap: 24px;
}

.project-overview {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  column-gap: 24px;
}

.project-title {
  grid-column: 1 / -1;
}

.project-details {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: 1fr;
}

.project-details .project-detailTitle:not(:first-child) {
  margin-top: 24px;
}

.project-detailTitle {
  font-weight: 400;
}

.project-disclosure {
  margin-top: 24px;
  grid-column: 1;
  font-style: italic;
}

@media (min-width: 768px) {
  .project-contentContainer {
    padding: 24px 24px 0 24px;
    grid-template-columns: repeat(8, 1fr);
  }

  .project-overview {
    grid-column-end: span 8;
    grid-template-columns: repeat(8, 1fr);
  }

  .project-section {
    padding: 0 24px;
    max-width: 1120px;
  }

  .project-background {
    box-shadow: 4px 4px 16px rgba(131,143,160,0.2), 
                -4px 4px 16px rgba(131,143,160,0.2);
  }

  .project-count {
    padding-left: 24px;
  }

  .project-details {
    grid-column-end: span 6;
    grid-template-columns: 1fr 4fr;
    grid-gap: 24px;
  }

  .project-details .project-detailTitle:not(:first-child) {
    margin-top: 0;
  }

  .project-detailTitle {
    font-weight: 300;
  }

  .project-disclosure {
    margin-top: 0px;
    grid-column: 2;
  }
}

@media (min-width: 1080px) {
  main .project-section:not(:first-child) {
    margin-top: 144px;
  }

  .project-background {
    box-shadow: 8px 8px 40px rgba(131,143,160,0.2), 
                -8px 8px 40px rgba(131,143,160,0.2);
  }

  .project-count {
    padding-left: 48px;
  }
  
  .project-contentContainer {
    padding: 48px 48px 0 48px;
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1280px) {
  .project-section {
    padding: 0 72px;
    max-width: 1376px;
  }
}

/*****************************
Gritcube
*****************************/

.gritcube-content {
  padding-bottom: 24px;
  grid-row-gap: 48px;
  row-gap: 48px;
}

.gritcube-challengesContainer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-gap: 24px;
}

.gritcube-challenge {
  grid-column: 1 / span 4;
}

.gritcube-skimmability {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.gritcube-imgOriginalAbout {
  grid-column: 1 / span 4;
  grid-row: -1;
}

figure[data-ratio="gritcube-imgOriginalAbout"] {
  padding-top: 135.34%;
  box-shadow: -2px 2px 4px rgba(44, 45, 51, 0.05),
              2px 2px 4px rgba(44, 45, 51, 0.05);
}

.gritcube-unclearCta {
  grid-column: 1 / span 4;
}

.gritcube-imgOriginalStartupPage {
  display: none;
}

figure[data-ratio="gritcube-imgOriginalStartupPage"] {
  padding-top: 135.34%;
  box-shadow: -2px 2px 4px rgba(44, 45, 51, 0.05),
              2px 2px 4px rgba(44, 45, 51, 0.05);
}

.gritcube-layoutsReorganized {
  grid-column: 1 / span 4;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.gritcube-layoutsReorganized .textGroup {
  grid-column-start: 1;
}

.gritcube-imgWireframes {
  grid-column: 1 / span 4;
}

figure[data-ratio="gritcube-imgWireframes"] {
  padding-top: 142.95%;
}

.gritcube-responsive {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.gritcube-imgMockup {
  grid-row: -1;
  grid-column: 1 / span 4;
}

figure[data-ratio="gritcube-imgMockup"] {
  padding-top: 138.58%;
}

@media (min-width: 768px) {
  .gritcube-content {
    padding-bottom: 0
  }

  .gritcube-challengesContainer {
    margin-top: 96px;
    grid-template-columns: repeat(8, 1fr);
  }

  .gritcube-challenge {
    grid-column-start: 1;
  }

  .gritcube-skimmability {
    grid-column: 1 / span 8;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
  }

  .gritcube-imgOriginalAbout {
    grid-column: 5 / span 4;
  }

  .gritcube-unclearCta {
    align-self: end;
    grid-column-start: 5;
    grid-row: 1;
  }

  .gritcube-layoutsReorganized {
    grid-column-end: span 8;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .gritcube-layoutsReorganized .textGroup {
    grid-column-start: 5;
  }

  .gritcube-responsive {
    align-items: center;
    grid-column: 1 / span 8;
    grid-template-columns: repeat(8, 1fr);
  }

  .gritcube-imgMockup {
    grid-column-start: 5;
  }
}

@media (min-width: 1080px) {
  .gritcube-challengesContainer {
    grid-template-columns: repeat(12, 4fr);
  }

  .gritcube-challenge {
    grid-column-start: 2;
  }

  .gritcube-skimmability {
    margin-top: 120px;
    grid-column-start: 3;
    grid-row: 2;
  }

  .gritcube-unclearCta {
    grid-column-start: 9;
  }

  .gritcube-imgOriginalStartupPage {
    align-self: start;
    grid-column: 9 / span 4;
    grid-row: 2;
    display: initial;
  }

  .gritcube-layoutsReorganized {
    grid-column-end: span 10;
    grid-template-columns: repeat(10, 1fr);
  }
  
  .gritcube-layoutsReorganized .textGroup {
    grid-column-start: 7;
  }

  .gritcube-imgWireframes {
    grid-column: 1 / span 6;
  }

  .gritcube-responsive {
    grid-column: 2 / span 9;
    grid-template-columns: repeat(9, 1fr);
  }

  .gritcube-imgMockup {
    grid-column: 5 / span 5;
  }
}

/*****************************
FreshPool
*****************************/

.freshpool-content {
  padding-bottom: 24px;
  grid-row-gap: 48px;
  row-gap: 48px;
}

.freshpool-challenge {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.freshpool-imgFlowchart {
  grid-column: 1 / span 4;
    grid-row: -1;
}

figure[data-ratio="freshpool-imgFlowchart"] {
  padding-top: 44.31%;
}

.freshpool-iterations {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.freshpool-iterations .textGroup {
  grid-column-start: 1;
}

.freshpool-imgWireframes {
  grid-column: 1 / span 4;
}

figure[data-ratio="freshpool-imgWireframes"] {
  padding-top: 112%
}

.freshpool-branding {
  grid-column: 1 / span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

.freshpool-imgMockups {
  grid-column: 1 / span 4;
  grid-row: -1;
}

figure[data-ratio="freshpool-imgMockups"] {
  padding-top: 94.37%
}

@media (min-width: 768px) {
  .freshpool-content {
    grid-row-gap: 96px;
    row-gap: 96px;
  }
  
  .freshpool-content section {
    align-items: center;
  }

  .freshpool-challenge {
    grid-column-end: span 8;
    margin-top: 48px;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .freshpool-imgFlowchart {
    grid-column-start: 5;
  }
  
  .freshpool-iterations {
    grid-column-end: span 8;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .freshpool-iterations .textGroup {
    grid-column-start: 5;
  }
  
  .freshpool-imgWireframes {
    grid-column-end: span 4;
  }
  
  .freshpool-branding {
    grid-column-end: span 8;
    grid-template-columns: repeat(8, 1fr);
  }
  
  .freshpool-imgMockups {
    grid-column-start: 5;
  }
}

@media (min-width: 1080px) {
  .freshpool-content {
    padding-bottom: 48px;
  }

  .freshpool-challenge {
    grid-column-end: span 12;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .freshpool-imgFlowchart {
    grid-column: 5 / span 8;
  }
  
  .freshpool-iterations {
    grid-column: 2 / span 10;
    grid-template-columns: repeat(10, 1fr);
  }
  
  .freshpool-iterations .textGroup {
    grid-column-start: 6;
  }

  .freshpool-imgWireframes {
    grid-column-end: span 5;
  }
  
  .freshpool-branding {
    grid-column: 3 / span 10;
    grid-template-columns: repeat(10, 1fr);
  }
  
  .freshpool-imgMockups {
    grid-column: 5 / span 6;
  }
}

/*****************************
Van life
*****************************/

.vanLife-section {
  margin-top: 48px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  column-gap: 24px;
}

.vanLife-imgPortrait {
  display: none;
}

.vanLife-imgLandscape {
  margin-bottom: 24px;
  grid-column: 1 / -1;
  grid-row: -1;
}

figure[data-ratio="vanLife-imgLandscape"] {
  padding-top: 52.36%;
}

@media (min-width: 600px) {
  .vanLife-section {
    grid-template-columns: repeat(8, 1fr);
  }

  .vanLife-imgPortrait {
    display: initial;
    align-self: start;
    grid-column: 5 / span 4;
    grid-row: 1 / 5;
  }

  figure[data-ratio="vanLife-imgPortrait"] {
    padding-top: 125%;
    box-shadow: 4px 4px 20px rgba(131,143,160,0.2), 
                -4px 4px 20px rgba(131,143,160,0.2);
  }

  .vanLife-imgLandscape {
    margin-top: 48px;
    margin-bottom: 0px;
    grid-column: 1 / span 6;
    grid-row: 4;
  }

  figure[data-ratio="vanLife-imgLandscape"] {
    padding-top: 52.36%;
    box-shadow: 4px 4px 20px rgba(131,143,160,0.2), 
                -4px 4px 20px rgba(131,143,160,0.2);
  }
}

@media (min-width: 1080px) {
  .vanLife-section {
    grid-column: 4 / 12;
  }
  
  figure[data-ratio="vanLife-imgPortrait"] {
    box-shadow: 8px 8px 40px rgba(131,143,160,0.2), 
                -8px 8px 40px rgba(131,143,160,0.2);
  }
  
  figure[data-ratio="vanLife-imgLandscape"] {
    padding-top: 52.36%;
    box-shadow: 8px 8px 40px rgba(131,143,160,0.2), 
                -8px 8px 40px rgba(131,143,160,0.2);
  }
}

/*****************************
Footer
*****************************/

footer {
  color: rgb(44, 45, 51); /*Dark Night*/
  background: rgba(44, 45, 51, 0.05); /*Dark Night*/
}

.footer-contentContainer {
  margin: 0 auto;
  padding: 24px 16px;
}

.footer-section a {
  font-weight: 400;
  color: rgb(44, 45, 51); /*Dark Night*/
}

.footer-socialMediaContainer {
  margin-top: 8px;
}

.footer-linkContainer {
  margin-top: 8px;
}

.footer-linkContainer .footer-link:not(:first-child) {
  margin-left: 8px;
} 

@media (min-width: 768px) {
  .footer-contentContainer {
    padding-right: 48px;
    padding-left: 48px;
    max-width: 1024px;
  }

  .footer-socialMediaContainer {
    display: flex;
  }

  .footer-linkContainer {
    margin-top: 0px;
  }

  .footer-linkContainer .footer-link {
    margin-left: 4px !important;
  } 
}

@media (min-width: 1080px) {
  .footer-contentContainer {
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media (min-width: 1280px) {
  .footer-contentContainer {
    padding-right: 120px;
    padding-left: 120px;
    max-width: 1280px;
  }
}
